
{% extends 'todos/base.html' %}

{% block content %}

    <ul>
        {% for todo in todos %}
        
        <li>{% if todo.important %}<b>{% endif %}
            <a href="{% url 'viewtodo' todo.id %}">{{ todo.title }}</a>
            {% if todo.important %}</b>{% endif %}
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </li>
        
        {% endfor %}
    </ul>

    <form action="{% url 'createtodo'%}" method="GET">
        <button type="submit">Create new Todos</button>
    </form>
    <p>Or view your comleted Todos</p>
    <form action="{% url 'completedtodos'%}" method="GET">
        <button type="submit">Completed Todos</button>
    </form>

{% endblock %}